<!--Start of singular post div-->
<div class="jumbotron" id="blog-post"> 
<h1 class="display-4" id="blog-post-title">{{title}}</h1>
<p class="lead" id="blog-post-topic-author">Posted by {{user.name}} with postID = {{id}}</p>
<hr class="my-4">
<p>{{post_text}}</p>
</div>
<!--End of singular post div-->