.posts-section {
    padding: 40px;
}

#blog-post-title {
    font-weight: bold;
}

#blog-post-topic-author {
    font-size: medium;
}

.body {
    padding: 20px;
}

.signup-form {
    padding: 20px;
    background-color: hotpink;
}

.login-form {
    padding: 20px;
    background-color: hotpink;
}

.edit-post {
    padding: 20px;
    background-color: hotpink;
}

.new-post-container {
    padding: 20px;
    background-color: lightblue;
    display: flex;
    flex-direction: column; 
}

.single-post-comments {
    padding: 20px;
    background-color: hotpink;
    display: flex;
    flex-direction: row;
}

.add-comments {
    padding: 20px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.edit-post-1 {
    background-color: lightblue;
    padding: 20px;
}

.section {
    padding: 20px;
}

.lightblu {
    background-color: lightblue;
    padding: 20px;
}

.delete-post {
    background-color: lightblue;
    padding: 20px;
}